<div class="post-detail">
    <button mat-icon-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <div *ngIf="post" class="flex-container flex-start padding-medium">
        <h1 class="">{{ post.title }}</h1>
        <div class="flex-row" style="gap: 40px;">
            <span>{{ post.createdAt | date:'dd/MM/yyyy'}}</span>
            <span>{{ post.userName }}</span>
            <span>{{ post.topicTitle }}</span>
        </div>
        <p>{{ post.content }}</p>
    </div>
    <hr>
    <div class="flex-container flex-column padding-medium align-start">
        <h3>Commentaires</h3>
        <form *ngIf="form" class="register-form" [formGroup]="form" ngClass="flex-row" (ngSubmit)="addComment()">
            <mat-form-field appearance="outline" class="full-size">
                <mat-label>Ecrivez ici votre commentaire</mat-label>
                <textarea matInput formControlName="content" rows="7"></textarea>
            </mat-form-field>
            <button mat-button type="submit" [disabled]="form.invalid">
                <img class="padding-medium" src="../../../../../assets/icon _send.svg">
            </button>
        </form>
    </div>
</div>