<div class="app">
    <mat-sidenav-container class="app-container">
        <mat-sidenav #sidenav mode="over" position="end" class="app-sidenav">
            <mat-nav-list class="padding-medium flex-container flex-column flex-space-between">
                <div>
                    <a mat-list-item routerLink="post/feed" routerLinkActive="active-link">Articles</a>
                    <a mat-list-item routerLink="topics" routerLinkActive="active-link">Thèmes</a>
                </div>
                <button mat-fab routerLink="user-details" routerLinkActive="active-button" color="secondary">
                    <mat-icon>person</mat-icon>
                </button>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar *ngIf="showHeader" color="secondary" class="flex-space-between">
                <img id="app-logo" src="/assets/logo_p6.png" alt="logo" />
                <div *ngIf="$isLogged() | async">
                    <div *ngIf="!isPhonePortrait ; else sideNavMenuButton">
                        <a mat-button routerLink="post/feed" routerLinkActive="active-link">Articles</a>
                        <a mat-button routerLink="topics" routerLinkActive="active-link">Thèmes</a>
                        <button mat-fab routerLink="user-details" routerLinkActive="active-button" color="secondary">
                            <mat-icon>person</mat-icon>
                        </button>
                    </div>
                    <ng-template #sideNavMenuButton>
                        <button mat-icon-button (click)="sidenav.toggle()">
                            <mat-icon>menu</mat-icon>
                        </button>
                    </ng-template>
                </div>
            </mat-toolbar>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>