<div class="topics">
    <div class="grid-container grid-auto-fit padding-medium">
        <mat-card class="grey-rounded-card" *ngFor="let topic of (topics$ | async)">
            <!-- <div class="grey-rounded-card" *ngFor="let topic of (topics$ | async)"> -->
            <mat-card-header>
                <mat-card-title>{{ topic.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                {{ topic.description }}
            </mat-card-content>
            <mat-card-actions class="grid-center">
                <button mat-raised-button color="primary" [disabled]="subscriptions.includes(topic.id)"
                    (click)="subscribe(topic.id, topic.title)">S'abonner</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>