/* You can add global styles to this file, and also import other style files */

@import 'src/styles/flex-grid.scss';

@import '@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-light-theme((color: (primary: $primary,
                accent: $accent,
                warn: $warn,
            ),
        ));

@include angular-material-theme($theme);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error {
    color: red;
}

.bold {
    font-weight: bold;
}

.mat-form-field {
    width: 60vw;
}

.full-size {
    width: 90vw;
}